html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

































body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

h1{
    font-size: 4em;
    border-bottom: 2px solid blue;
    margin-bottom: 3vh;
}

img {
    width: 60vw;
    border-radius: 5px;
    border: 3px solid black;

}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 0;
    
}

figure > * {
    width: 20vw;
    transition: width 1s, margin 1s;
}

figure img:hover {
    width: 25vw;
    margin: 5vh 5vw 0vh

}
figure img {
    margin: 5vh 5vw;
}

.family{
    display: flex;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}

.intro{
    width: 40vw;
    text-align: center;
}



nav {
    display: flex;
}

.nav-div{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    background-color: blue;
    margin-bottom: 6vh;
    position: sticky;
    top:0%;
}

.nav-div li {
    list-style: none;

    padding: 1vh 3vw; 
}

.nav-div li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-div li a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    padding: 1vh 3vw; 
}

.about p, .about h2{
    margin: 3vh 0;
}

.about, .home{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home p, .gallery p, .gallery figcaption{
    line-height: 1.5rem;
    margin-top: 4vh;
}


.gallery figcaption {
    word-break: break-word;
}